# Forçar o GitHub a desconsiderar apenas HTML e CSS das estatísticas
*.html linguist-detectable=false
*.css linguist-detectable=false

# Ignorar pastas de dependências e assets que não são código seu
vendor/* linguist-detectable=false
assets/* linguist-detectable=false
